.lt_go_cart{
    border-top:1px solid red;
    height: 55px;
    line-height: 35px;
    padding:10px;
    background-color: #EFEFF4;

}

.lt_go_cart a{
    color: #069;
    font-size: 14px;
    padding-left: 10px;
}
.lt_go_cart button{
    width: 96px;
    height: 33px;
}

.lt_pro_name{
    border-top: 1px solid #ccc;
    padding:10px;
    font-size: 16px;
}
.lt_pro_price{
    border-top: 1px solid #ccc;
    padding: 10px;
}
.lt_pro_price .price{
    color: red;
}
.lt_pro_price .oldPrice{
    text-decoration: line-through;
    padding-left: 10px;
    color: #999;
    font-size: 10px;
}
.lt_pro_size{
    border-top: 1px solid #ccc;
    padding: 10px;
}
.lt_pro_size span{
    border: 1px solid #ccc;
    font-size: 10px;
    padding:5px;
}

.lt_pro_size span.now{
    background-color: #069;
}
.lt_num{
    border-top: 1px solid #ccc;
    padding: 10px;
}
.lt_num span{
    font-size: 12px;
    color: #666;
}
.lt_dec{
    border-top: 1px solid #ccc;
    padding: 10px;
}

